@import "../../../scss/breakpoints";

:host {
  padding: 35px 40px 0;
  min-height: 100vh;
}
.event {
  padding-bottom: 30px;
  position: relative;
  &:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 40px;
    z-index: 0;
    background: url('../../../assets/images/icons/timeline.svg') repeat-y;
    height: 100%;
    width: 2px;
  }
}

@media (max-width: $mobile) {
  .event {
    &:before {
      left: 10px;
    }
  }
}
